= form_with(model: exam_type, local: true, class: "ui form #{exam_type.errors.any? ? "error" : nil }") do |form|
  - if exam_type.errors.any?
    %div{class: "ui error message"}
      %ul{class: "list"}
        - exam_type.errors.full_messages.each do |message|
          %li= message

  %div{:class => [:field, "#{exam_type.errors[:label].any? ? "error" : nil }"]}
    = form.label :label
    = form.text_field :label, require: true

  %div{:class => [:field, "#{exam_type.errors[:price].any? ? "error" : nil }"]}
    = form.label :price
    = form.number_field :price

  = form.submit :submit, class: "ui button"
