%h2{class: "ui header", style: "text-align: center"} Exam Types

= link_to 'New Exam Type', new_exam_type_path, {class: "ui primary button"}

%table{class: "ui celled table"}
  %thead
    %tr
      %th Label
      %th Price
      %th Actions

  %tbody
  - @exam_types.each do |exam_type|
    %tr
      %td= exam_type.label
      %td= exam_type.price
      %td
        = link_to raw('<i class="unhide icon"></i>'), exam_type, {class: "ui icon button", "data-tooltip": "Show", "data-position": "top center"}
        = link_to raw('<i class="edit icon"></i>'), edit_exam_type_path(exam_type), {class: "ui icon yellow button", "data-tooltip": "Edit", "data-position": "top center"}
        = link_to raw('<i class="trash icon"></i>'), exam_type, {class: "ui icon red button", "data-tooltip": "Edit", "data-position": "top center", method: :delete, "data-confirm": "Are you sure you want to delete #{exam_type.label} ?"}
