%h2{class: "ui header", style: "text-align: center"} Show Exam Type

- if notice
  #div{class: "ui green floating message", style: "text-align: center"}
    = notice

%p
  %strong
    Label:
  = @exam_type.label

%p
  %strong
    Price:
  = @exam_type.price

= link_to 'Edit', edit_exam_type_path(@exam_type), {class: "ui yellow button"}
