%html
  %head
    %meta{content: 'text/html', charset: 'UTF-8', "http-equiv" => 'Content-Type'}

  %body
    %h1 New Exam Registered
    %p
      A new exam
      = @exam.exam_type.label
      = @exam.year
      has been registered and will open
      = @exam.open_at
      Thank for subscribe.