= form_with(model: exam, local: true, class: "ui form #{exam.errors.any? ? "error" : nil }") do |form|

  - if exam.errors.any?
    %div{class: "ui error message"}
      %ul{class: "list"}
        - exam.errors.full_messages.each do |message|
          %li= message

  %div{:class => ["field", "#{exam.errors[:exam_type].any? ? "error" : nil }"]}
    = form.label :exam_type
    = form.collection_select(:exam_type_id, ExamType.all, :id, :label, {}, {class: "ui search dropdown"})

  %div{:class => [:field, "#{exam.errors[:year].any? ? "error" : nil }"]}
    = form.label :year
    = form.number_field :year

  %div{:class => [:field, "#{exam.errors[:price].any? ? "error" : nil }"]}
    = form.label :price
    = form.number_field :price

  %div{:class => [:field, "#{exam.errors[:open_at].any? ? "error" : nil }"]}
    = form.label :open_at
    = text_field_tag 'exam[open_at]', "#{exam.new_record? ? "#{DateTime.current.strftime("%d-%m-%Y at %H:%M")}" : exam.open_at}"

  %div{:class => ['field', "#{exam.errors[:activated].any? ? "error" : nil }"]}
    %div{class: 'ui checkbox'}
      = form.check_box :activated
      = form.label :activated

  %div{:class => ['field', "#{exam.errors[:is_current].any? ? "error" : nil }"]}
    %div{class: 'ui checkbox'}
      = form.check_box :is_current
      = form.label :is_current

  = form.submit :submit, class: "ui button"

- content_for :script do
  :javascript
    $('.ui.checkbox').checkbox();
    $('.ui.dropdown').dropdown();
    flatpickr("#exam_open_at", { enableTime: true, dateFormat: "d-m-Y at H:i" });