%h2{class: "ui header", style: "text-align: center"} Exams

= link_to 'New Exam', new_exam_path, {class: "ui primary button"}

%table{class: "ui celled table"}
  %thead
    %tr
      %th Label
      %th Price
      %th Open at
      %th Activated
      %th Is current
      %th Actions

  %tbody
  - @exams.each do |exam|
    %tr
      %td= "#{exam.exam_type.label} #{exam.year}"
      %td= exam.price
      %td= exam.open_at
      %td
        %i{class: "#{exam.activated ? "green check" : "red remove"} circle outline big icon"}
      %td
        %i{class: "#{exam.is_current ? "green check" : "red remove"} circle outline big icon"}
      %td
        = link_to raw('<i class="unhide icon"></i>'), exam, {class: "ui icon button", "data-tooltip": "Show", "data-position": "top center"}
        = link_to raw('<i class="edit icon"></i>'), edit_exam_path(exam), {class: "ui icon yellow button", "data-tooltip": "Edit", "data-position": "top center"}
        = link_to raw('<i class="trash icon"></i>'), exam, {class: "ui icon red button", "data-tooltip": "Edit", "data-position": "top center", method: :delete, "data-confirm": "Are you sure you want to delete #{exam.exam_type.label} #{exam.year} ?"}
