<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @exam.year %>
</p>

<p>
  <strong>Price:</strong>
  <%= @exam.price %>
</p>

<p>
  <strong>Open at:</strong>
  <%= @exam.open_at %>
</p>

<p>
  <strong>Is current:</strong>
  <%= @exam.is_current %>
</p>

<p>
  <strong>Activated:</strong>
  <%= @exam.activated %>
</p>

<p>
  <strong>Exam type:</strong>
  <%= @exam.exam_type.label %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
