!!! 5
%html
  %head
    %title Ruby Exam
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application'

  %body
    %h3{class: "ui block header"}
      !eiXam

    %div{class: "ui grid container"}
      %div{class: "three wide column"}
        %div{class: "ui secondary vertical pointing menu"}
          = link_to "Exam Types", exam_types_path, class: "item #{ current_page?(controller: :exam_types, action: :index) ? "active": nil }"

          = link_to "Exams", exams_path, class: "item #{ current_page?(controller: :exams, action: :index) ? "active": nil }"

      %div{class: "thirteen wide column"}
        %div{class: "ui grey raised stacked segment"}
          = yield

    = javascript_include_tag 'application'
    = yield :script